
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{ partial "head/pre-render.html" . }}
<link rel="canonical" href="{{ .Param "authorUrl" }}">
<meta property="og:type" content="{{ .Param "meta_type" }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Page.Title }} - {{ .Site.Title }}{{ end }}">
<meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.slogan }}{{else}}{{.Page.Description}}{{end}}">
<meta property="og:image" content="{{ .Param "meta_image" }}">
<meta property="og:image:width" content="{{ .Param "meta_image_width" }}">
<meta property="og:image:height" content="{{ .Param "meta_image_height" }}">
<meta property="og:url" content="{{ .Param "authorUrl" }}">
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Page.Title }} - {{ .Site.Title }}{{ end }}">
<meta property="twitter:description" content="{{if .IsHome}}{{ $.Site.Params.slogan }}{{else}}{{.Page.Description}}{{end}}">
<meta property="twitter:image" content="{{ .Param "meta_image" }}">
<meta property="twitter:site" content="{{ .Param "twitter_handle" }}">
<meta name="description" content="{{ .Param "slogan" }}">
