<!-- <link rel="preconnect" href="https://static.my.id" crossorigin="">
<link rel="dns-prefetch" href="https://image.thum.io"> -->
<link rel="dns-prefetch" href="https://fonts.kawanua.dev">
<link rel="dns-prefetch" href="https://k2.imgix.net">
<link rel="dns-prefetch" href="https://static.kid.or.id">
