      <!-- Global CSS -->
      <!-- <link rel="stylesheet" media="screen" href="https://static.my.id/libs/bootstrap/4.5.0/css/bootstrap.min.css"> -->
      <!-- <link rel="stylesheet" media="screen" href="https://static.my.id/libs/animate.css/4.1.0/animate.min.css"> -->
      <link rel="stylesheet" media="all" href="https://static.kid.or.id/fontawesome/free/5.15.4/web/css/all.min.css">
      {{ $style := resources.Get "styles/main.scss" | toCSS | minify | fingerprint }}
      <link rel="stylesheet" media="screen" href="{{ $style.Permalink }}">
