<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>

    {{ partial "head/metatags.html" . }}

    {{ partial "head/pre-render.html" . }}

    {{ partial "head/stylesheets.html" . }}
    
    {{ partial "head/favicon.html" . }}

    <title>{{.Title}} - {{.Site.Data.siteconf.desc}}</title>

  </head>
  <body>

    {{ partial "header/nav.html" . }}

      <header>
        {{ partial "jumbotron.html" . }}
        <!-- {{ partial "header/svg.html" . }} -->
      </header>

      <main role="main">
          <section class="hideoverflow">
            <div class="container-fluid">
                <div class="container pb-5">
                  <div class="col-sm-12 col-md-12 pt-6">
                    <h2 class="header__subpage font-weight-bold">{{ i18n "404_title" | title }}</h2>
                    <p>{{ i18n "404_desc" }}</p>
                  </div>
                </div>
            </div>
          </section>
      </main>

      <footer>
        {{ partial "footer/svg.html" . }}
        <div class="container-fluid bg-dark">
          <div class="container pb-7">
            {{ partial "footer/footer.html" . }}
          </div>
        </div>
      </footer>

      {{ partial "header/scripts.html" . }}

  </body>
  </html>