/* ------------------------------------------
|   Name: WANEA 
|   Version: v2.0 
|   Initial release: 25-11-2019
|   Language: HTML
--------------------------------------------- */

// Uncomment lines below if static.kid.or.id did not work
// @import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
// @import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
// @import "../../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.kawanua.dev/libs/inter/3.13/inter.css");

// UNCOMMENT lines below if above URL did not work
// @font-face {
//     font-family: "Inter var";
//     src: url("/webfonts/Inter-VariableFont.ttf") format("truetype");
//     font-weight: 125 950;
//     font-stretch: 75% 125%;
//     font-style: oblique 0deg 20deg;
//   }
// ;

/* ------------------------------------------
|   BASE 
|   Applies to HTML, no class/ID selectors
--------------------------------------------- */
$primary__color: #000021;
$secondary__color: #00c9d3; // rgb(0,201,211)
$accent__color: #fff070; // rgb(255,240,112)

html {
  font-size: 90%;
  line-height: 1.5;
}

body {
  font: {
    family: "Inter var" !important;
    size: 1rem;
  }
}

%share--a {
  border-bottom: 0.3rem solid rgba(255, 240, 112, 0.2);
  text-decoration: none !important;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out, border-bottom 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
%share--a__hav {
  background-color: rgba(255, 240, 112, 0.1) !important;
  opacity: 0.6;
}

a {
  &:link {
    @extend %share--a;
    color: $accent__color;
  }

  &:hover {
    @extend %share--a;
    @extend %share--a__hav;
    color: $secondary__color !important;
  }

  &:active {
    @extend %share--a;
    @extend %share--a__hav;
    color: $secondary__color !important;
  }

  &:focus {
    @extend %share--a;
    @extend %share--a__hav;
    color: $secondary__color !important;
  }

  &:visited {
    @extend %share--a;
    @extend %share--a__hav;
    color: $accent__color;
  }
}

footer {
  // color: #969da2;

  a {
    @extend a;
  }

  .footnav {
    list-style: none;
    padding-left: 0;

    &-link {
      margin: 0.4rem;
      display: inline-block;
    }
  }
}

code {
  color: #343a40;
  background-color: #f8f9fa;
  padding: 10px 20px;
  margin-bottom: 5px;
  display: block;
  white-space: nowrap;
  overflow: auto;
  user-select: all;
}

/* ------------------------------------------
|   LAYOUT 
|   Big page sections; .header, .sidebar, etc
------------------------------------------ */

.show {
  display: block;
}

.hideoverflow {
  overflow: hidden;
}

.jumbotron {
  background: {
    color: $primary__color;
    image: url("/blurry-gradient-169.svg");
    attachment: fixed;
    size: cover;
    position: bottom;
  }
  z-index: 1;
  margin-bottom: 0;

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
  }

  .jumbotron__content p:hover {
    color: white !important;
    transition: color 0.4s ease-in-out;
  }
}

.btn-rounded {
  border-radius: 20px;
  padding: 5px 15px;
}

.hide {
  display: none;
}

.kawanuaid {
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.kartu--even,
.kartu--odd {
  background: {
    image: url("/blurry-gradient-900600.svg");
    position: left;
  }
}

/*-- MEDIA QUERIES --*/
@media only screen and (max-width: 768px) {
  .jumbotron {
    .jumbotron__header {
      padding-bottom: 3rem;

      .header__slogan {
        font-size: 4.5rem;
        line-height: 5rem;
      }
    }
    .arrow {
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;
    }
    .jumbotron__content {
      animation: fadeInUp 1.3s;
      margin: {
        bottom: 2rem;
      }
    }
  }
  .header__subpage {
    font-size: clamp(1.5rem, 10vh, 2.5rem);
    line-height: clamp(1.5rem, 10vh, 2.5rem);
  }
  .kartu--even,
  .kartu--odd {
    margin-top: -1rem;
  }
  .sosmed-nav {
    display: none;
  }
  footer {
    > svg {
      margin-bottom: -1rem;
    }
  }
}
@media only screen and (min-width: 769px) {
  .jumbotron {
    .jumbotron__header {
      padding-bottom: 3rem;

      .header__slogan {
        font-size: 5.5rem;
        line-height: 6.5rem;
      }
    }
    .arrow {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
    }
    .jumbotron__content {
      animation: fadeInLeft 1.3s;
      margin-top: -20rem;
    }
  }
  .kartu--even,
  .kartu--odd {
    position: inherit;
    z-index: 1;
  }
  .kartu--even {
    animation: fadeInRight 1s;
    right: 25%;
  }
  .kartu--odd {
    animation: fadeInLeft 1s;
    left: 25%;
  }
  .bayang--even {
    animation: fadeInLeft 1s;
    right: 25%;
  }
  .bayang--odd {
    animation: fadeInRight 1s;
    left: 25%;
  }
  .header__subpage {
    font-size: clamp(3rem, 10vh, 4rem);
    line-height: clamp(3rem, 10vh, 4rem);
  }
  .footer__baris2 div:last-child {
    text-align: right;
  }
  header {
    > svg:last-of-type {
      margin-top: -5rem;
    }
  }
  footer {
    > svg {
      margin-bottom: -5rem;
    }
  }
}

/* ------------------------------------------
|   MODULES
|   Re-usable
------------------------------------------ */

/*-- KEYFRAMES --*/
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

%s-content--a {
  border-bottom: 0.3rem solid rgba($secondary__color, 0.2);
  text-decoration: none !important;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out, border-bottom 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
%s-content--a__hav {
  background-color: rgba($secondary__color, 0.1) !important;
  opacity: 0.6;
}

.content {
  font-size: 1.5rem;
  line-height: 1.8;

  a {
    &:link,
    &:visited {
      @extend %s-content--a;
      color: $primary__color !important;
    }
    &:hover,
    &:active {
      @extend %s-content--a;
      @extend %s-content--a__hav;
      color: $primary__color !important;
    }
  }
}
.dot {
  animation: blink {
    duration: 1.5s;
    iteration-count: infinite;
  }
}
.round {
  border-radius: 0.6rem;
}

%share--linkreset {
  background-color: inherit !important;
  border-bottom: 0 !important;
  // transition: 0s !important;
}

.imglink {
  &:link {
    @extend %share--linkreset;
  }

  &:active {
    @extend %share--linkreset;
  }

  &:hover {
    @extend %share--linkreset;
  }

  &:focus {
    @extend %share--linkreset;
  }

  &:visited {
    @extend %share--linkreset;
  }
}

.kartu {
  &.bg-light {
    border: 0.3rem dashed;

    a {
      &:link {
        @extend %s-content--a;
        color: $primary__color !important;
      }
      &:hover,
      &:active {
        @extend %s-content--a;
        @extend %s-content--a__hav;
        color: $primary__color !important;
      }
    }
  }
}

@mixin padding($name, $num, $unit) {
  @if $name == "bottom" or $name == "b" {
    .pb-#{$num} {
      padding-bottom: $num + $unit;
    }
  }
  @if $name == "top" or $name == "t" {
    .pt-#{$num} {
      padding-top: $num + $unit;
    }
  }
  @if $name == "y" {
    .py-#{$num} {
      padding: {
        top: $num + $unit;
        bottom: $num + $unit;
      }
    }
  }
}
@mixin margin($name, $num, $unit) {
  @if $name == "bottom" or $name == "b" {
    .mb-#{$num} {
      margin-bottom: $num + $unit;
    }
  }
  @if $name == "top" or $name == "t" {
    .mt-#{$num} {
      margin-top: $num + $unit;
    }
  }
  @if $name == "y" {
    .my-#{$num} {
      margin: {
        top: $num + $unit;
        bottom: $num + $unit;
      }
    }
  }
}

@include padding(top, 6, rem);
@include padding(top, 7, rem);
@include padding(bottom, 6, rem);
@include padding(bottom, 7, rem);
@include padding(y, 6, rem);
@include padding(y, 7, rem);
@include margin(top, 6, rem);
@include margin(top, 7, rem);
@include margin(bottom, 6, rem);
@include margin(bottom, 7, rem);
@include margin(y, 6, rem);
@include margin(y, 7, rem);

/* ------------------------------------------
|   STATE
|   Override defaults
------------------------------------------ */

nav,
.nav,
.sosmed {
  a {
    &:link {
      @extend %share--linkreset;
    }

    &:active {
      @extend %share--linkreset;
    }

    &:hover {
      @extend %share--linkreset;
      transition: color 0.3s ease-in-out;
    }

    &:focus {
      @extend %share--linkreset;
    }

    &:visited {
      @extend %share--linkreset;
    }
  }
}

.bg-dark {
  background-color: $primary__color !important;
}

.sosmed {
  &:hover {
    color: $secondary__color !important;
  }
}

.header__brand,
.header__slogan,
.header__subpage {
  display: inline-block;
}

.header__brand {
  animation: fadeInUp 1s;
  color: white;
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
  line-height: 5rem;
}
.header__slogan {
  animation: fadeInUp 1.2s;
  color: white;
  font-weight: 900;
  letter-spacing: -0.1rem;
  background: linear-gradient(to right, $secondary__color, $accent__color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__subpage {
  animation: fadeInUp 1.3s;
  color: $primary__color;
  // font-size: clamp(1.5rem, 8vh, 4.5rem);
  letter-spacing: -0.2rem;
  // line-height: 4.5rem;
}

.kartu--even,
.kartu--odd {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15) !important;
  transition: box-shadow 0.5s ease-out;

  h3 {
    font: {
      weight: 900;
    }
  }
  h4 {
    line-height: 1.5;
  }
}
.bayang--even,
.bayang--odd {
  // box-shadow: 0 20px 36px 4px rgba(0,0,0,.25) !important;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07) !important
    ;
  overflow: hidden;
}
.row--even,
.row--odd {
  &::before {
    // content: "";
    width: 100vw;
    border: 10rem solid whitesmoke;
    display: block;
    position: absolute;
  }
}
.row--even {
  &::before {
    right: 50%;
  }
}
.row--odd {
  &::before {
    left: 50%;
  }
}

.arrow-down {
  animation: fadeInDown {
    duration: 1.8s;
    delay: 0.5s;
    iteration-count: infinite;
    timing-function: linear;
  } // animation: name duration timing-function delay iteration-count direction fill-mode;
}

.supporters {
  width: 25vmin;
  padding-bottom: 2rem;
}
