<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>

    {{ partial "head/metatags.html" . }}

    {{ partial "head/stylesheets.html" . }}
    
    {{ partial "head/favicon.html" . }}

    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <!-- <title>{{.Title}} - {{.Site.Data.siteconf.desc}}</title> -->

  </head>
  <body>

    {{ partial "header/nav.html" . }}

      <header>
        {{ partial "jumbotron.html" . }}
        <!-- {{ partial "header/svg.html" . }} -->
      </header>

      <main role="main">
          <section class="hideoverflow">
            <div class="container-fluid">
                <div class="container pb-5">
                  {{ block "bodymain" . }}{{ end }}
                  {{ block "supporters" . }}{{ end }}
                </div>
            </div>
          </section>
      </main>

      <footer>
        {{ partial "footer/svg.html" . }}
        <div class="container-fluid bg-dark">
          <div class="container pb-5">
            {{ partial "footer/footer.html" . }}
          </div>
        </div>
      </footer>

      {{ partial "header/scripts.html" . }}

  </body>
  </html>