+++
title = "Contact"
type = "page"
layout = "contact"
description = "Use this form to reach us"
draft = false
lastmod = "2020-08-08"
include_toc = false
show_comments = false
+++

<form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true" class="needs-validation" novalidate>
  <div class="form-group">    
    <label class="col-form-label col-form-label-lg" for="role">Select A Topic</label>
    <select class="custom-select custom-select-lg" name="role[]" required>
      <option value="general">General Support</option>
      <option value="abuse">Abuse Report</option>
      <option value="dmca">DMCA/Takedown</option>
    </select>
  </div>
  <div class="form-group row">
    <div class="col">
      <label class="col-form-label col-form-label-lg" for="name">Name</label>
      <input class="form-control form-control-lg" type="text" name="name" required />
    </div>
    <div class="col">
      <label class="col-form-label col-form-label-lg" class="col-form-label col-form-label-lg"l for="email">Email</label>
      <input class="form-control form-control-lg" type="email" name="email" required />
    </div>
  </div>
  <div class="form-group">    
    <label class="col-form-label col-form-label-lg" for="subject">Subject</label>
    <input class="form-control form-control-lg" type="text" name="subject" required />
  </div>
  <div class="form-group">    
    <label class="col-form-label col-form-label-lg" for="message">How can we help you?</label>
    <textarea class="form-control form-control-lg" name="message" required></textarea>
  </div>
  <div data-netlify-recaptcha="true"></div>
  <div class="form-group">    
    <button class="btn btn-primary btn-lg mb-2" type="submit">Send Request</button>
  </div>
</form>
