{{ $logo := resources.Get "img/logo-kawanuaid-white-250.png" }}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="{{ $logo.Permalink }}" alt="Logo {{ .Site.Title }}" width="120"></a>
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav ml-auto mt-2 mt-md-0">
            <!-- <li class="nav-item">
                <a class="nav-link disabled" href="https://dev.kawanua.id" target="_blank" rel="noopener noreferrer">Dev Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://libs.kawanua.id">Libraries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://cheatsheet.kawanua.id">Cheatsheet</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="tools-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
                <div class="dropdown-menu" aria-labelledby="tools-drop">
                    <a class="dropdown-item disabled" href="//libs.kawanua.id/random.php" target="_blank">Random Generator</a>
                    <a class="dropdown-item" href="//libs.kawanua.id/password-check" target="_blank">Password Check</a>
                    <a class="dropdown-item" href="//libs.kawanua.id/base64-encoder" target="_blank">Base64 File Encoder <span class="badge badge-primary">Baru</span></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://support.kawanua.id/public/create-ticket" target="_blank" rel="noopener noreferrer">Kontak</a>
            </li> -->
            {{ range $.Site.Home.AllTranslations }}
            <li class="nav-item"><a href="{{ .Permalink }}" class="nav-link" rel="noopener noreferrer">{{ .Language.LanguageName }}</a></li>
            {{ end }}
            <div class="sosmed-nav p-2 ml-3">
                <a class="text-light" href="https://github.com/kawanuaid" target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-lg"></i> </a>
            </div>
            <div class="sosmed-nav p-2 ml-3">
                <a class="text-light" href="https://dev.to/kawanuaid" target="_blank" rel="noopener noreferrer"><i class="fab fa-dev fa-lg"></i> </a>
            </div>
        </ul>
    </div>
</nav>
