<!-- Global JavaScript -->
<!-- <script src="https://static.my.id/libs/webfont/1.6.28/webfontloader.js"></script> -->

{{ $jquery := resources.Get "scripts/jquery.min.js" }}
{{ $jqueryJS := $jquery | resources.Minify | resources.Fingerprint }}
<script src="{{ $jqueryJS.Permalink }}" integrity="{{ $jqueryJS.Data.Integrity }}"></script>

{{ $popper := resources.Get "scripts/popper.min.js" }}
{{ $popperJS := $popper | resources.Minify | resources.Fingerprint }}
<script src="{{ $popperJS.Permalink }}" integrity="{{ $popperJS.Data.Integrity }}"></script>

{{ $bootstrap := resources.Get "scripts/bootstrap.min.js" }}
{{ $bsJS := $bootstrap | resources.Minify | resources.Fingerprint }}
<script src="{{ $bsJS.Permalink }}" integrity="{{ $bsJS.Data.Integrity }}"></script>

{{ $fontawesome := resources.Get "scripts/fontawesome-all.min.js" }}
{{ $faJS := $fontawesome | resources.Minify | resources.Fingerprint }}
<script src="{{ $faJS.Permalink }}" integrity="{{ $faJS.Data.Integrity }}"></script>

<!-- {{ $main := resources.Get "scripts/main.js" }}
{{ $tsparticles := resources.Get "scripts/tsparticles.js" }}
{{ $defaultJS := slice $main $tsparticles | resources.Concat "scripts/global.js" }}
{{ $script := $defaultJS }}
{{ $globalJS := $script | resources.Minify | resources.Fingerprint }}
<script src="{{ $globalJS.Permalink }}" integrity="{{ $globalJS.Data.Integrity }}"></script> -->

{{ if hugo.IsServer }}
{{ else }}
{{ partial "head/analytics.html" . }}
{{ end }}
