{{ $logo := resources.Get "img/logo-kawanuaid-white-250.png" }}

<div class="footer__baris1 row pt-5 d-flex">
    <div class="col-sm-12 col-md-6 pb-4">
        <a class="imglink" href="/"><img src="{{ $logo.Permalink }}" alt="Logo {{ .Site.Title }}" width="200"></a>
    </div>
    <div class="col-sm-12 col-md-3 pb-4">
        <ul class="footnav">
            {{ $datakiri := index .Site.Data .Site.Language.Lang }}
            {{ range sort $datakiri.footer_nav_kiri "weight" }}
                {{ if .public }}
                    <li class="footnav-item">
                        <a class="footnav-link" href="{{ .url }}" rel="noopener noreferrer">{{ .title }}</a> <span class="text-muted">{{ .suffix }}</span>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    <div class="col-sm-12 col-md-3 pb-4">
        <h4 class="text-white-50">Brand</h4>
        <ul class="footnav">
            {{ $datakanan := index .Site.Data .Site.Language.Lang }}
            {{ range sort $datakanan.footer_nav_kanan "weight" }}
                {{ if .public }}
                    <li class="footnav-item">
                        {{ if .link }}
                        <a class="footnav-link" href="{{ .url }}" rel="noopener noreferrer">{{ .title }}</a> <span class="text-muted">{{ .suffix }}</span>
                        {{ else }}
                        <span class="footnav-link text-white">{{ .title }}</span> <span class="text-muted">{{ .suffix }}</span>
                        {{ end }}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</div>
<div class="footer__baris2 row pt-5 d-flex align-items-center text-white">
    <div class="col-sm-12 col-md-6 pb-4">
        © 2016<script>new Date().getFullYear()>2016&&document.write("-"+new Date().getFullYear());</script> <strong>{{ .Site.Title }}</strong>.<br />
        <small><strong>{{ .Site.Title }}</strong> {{ i18n "disclaimer" | markdownify }}</small>
    </div>
    <div class="col-sm-12 col-md-6">
        {{ i18n "build_with" | markdownify }}
    </div>
</div>
