<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000021" fill-opacity="1" d="M0,160L288,224L576,160L864,96L1152,128L1440,160L1440,320L1152,320L864,320L576,320L288,320L0,320Z"></path></svg>