<div class="col-sm-12 col-md-12 pt-6">
  <h2 class="header__subpage font-weight-bold">{{ i18n "about_title" | title }}</h2>
</div>
<div class="row d-flex justify-content-around align-items-center py-6">
  <div class="col-sm-12 col-md-8">
      <section id="about-us">
        <h5>Kawanua ID adalah sebuah organisasi nirlaba yang ingin berkontribusi mempromosikan produk open-source, baik dibuat oleh developer kami maupun yang dibuat oleh developer lokal dan luar negeri. Cara kami mempromosikannya adalah, dengan mempublikasikan platform bersangkutan secara online yang langsung bisa dicoba/dimanfaatkan oleh semua orang, tanpa harus membayar.</h5>
        <h5>Server yang digunakan untuk host semua platform dibawah, dikelola oleh kami sendiri.</h5>
      </section>
  </div>
</div>