<div class="col-sm-12 col-md-12 pt-6">
    <h2 class="header__subpage font-weight-bold">{{ i18n "brand_title" | title }}</h2>
</div>
{{ $jsonBrand := index .Site.Data .Site.Language.Lang }}
{{ $nodata := "<li class=\"list-group-item\">No data.</li>"}}
{{ range sort $jsonBrand.brands "weight" }}
    {{ if .public }}
        <div class="row d-flex justify-content-around align-items-center py-6 mb-6 {{ if .odd }}flex-row-reverse row--odd{{ else }}row--even{{ end }}">
            <div class="col-sm-12 col-md-8">
                <div class="bayang--{{ if .odd }}odd{{ else }}even{{ end }} round">
                    {{ if eq .imgurl "" }}
                        <img src="https://image.thum.io/get/width/{{ $.Site.Params.thumbio.width }}/crop/{{ $.Site.Params.thumbio.height }}/maxAge/{{ $.Site.Params.thumbio.maxage }}/{{ .thumburl }}" alt="thumb-{{ .imgalt }}" class="card-img-top">
                    {{ else }}
                        <img src="{{ .imgurl }}" alt="{{ .nama }} screenshot" class="card-img-top">
                    {{ end }}
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="kartu--{{ if .odd }}odd{{ else }}even{{ end }} bg-dark text-white p-5 round">
                    <h3 class="mb-2">{{ .nama | markdownify }}</h3>
                    <p class="mb-3">{{ .keterangan | markdownify }}</p>
                    <p class="mb-3"><a href="{{ .urlmuted }}{{ .url }}" class="" target="_blank" rel="noopener noreferrer"><span class="text-white-50">{{ .urlmuted }}</span>{{ .url }}</a></p>
                    {{ if .sosmed }}
                        <ul class="nav">
                            {{ if eq .sosmed1url "" }}
                            {{ else }}
                            <li class="nav-item">
                                <a href="{{ .sosmed1url }}" class="nav-link sosmed" rel="noopener noreferrer"><i class="{{ .sosmed1class }}"></i> {{ .sosmed1nama }}</a>
                            </li>
                            {{ end }}
                            {{ if eq .sosmed2url "" }}
                            {{ else }}
                            <li class="nav-item">
                                <a href="{{ .sosmed2url }}" class="nav-link sosmed" rel="noopener noreferrer"><i class="{{ .sosmed2class }}"></i> {{ .sosmed2nama }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    {{ else }}
                    {{ end }}
                </div>
            </div>
        </div>
    {{/*  {{ else }}
    {{ $nodata | safeHTML }}  */}}
    {{ end }}
{{ else }}
{{ $nodata | safeHTML }}
{{ end }}
