<div class="jumbotron jumbotron-fluid">
    <div id="particles-js"></div>
    <div class="container pt-5">
        <div class="row d-flex align-items-center">
            <div class="jumbotron__header col-sm-12 col-md-9">
                <h1 class="header__slogan">{{ i18n "subjudul" | title }}</h1>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-12 col-md-8">
                <p class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        id="Capa_1" x="0px" y="0px" viewBox="0 0 31.479 31.479"
                        style="enable-background:new 0 0 31.479 31.479;" xml:space="preserve" width="64px"
                        height="64px" class="arrow-down">
                        <g>
                            <path
                                d="M26.485,21.206c0.429-0.444,0.429-1.143,0-1.587c-0.444-0.429-1.159-0.429-1.587,0l-8.047,8.047  V1.111C16.851,0.492,16.359,0,15.74,0c-0.619,0-1.127,0.492-1.127,1.111v26.555l-8.031-8.047c-0.444-0.429-1.143-0.429-1.587,0  c-0.429,0.444-0.429,1.143,0,1.587l9.952,9.952c0.429,0.429,1.143,0.429,1.587,0L26.485,21.206z"
                                data-original="#1E201D" class="active-path" data-old_color="#1E201D" fill="rgba(255,255,255,0.5)" />
                        </g>
                    </svg>
                </p>
            </div>
            <div class="jumbotron__content col-sm-12 col-md-4 offset-md-8 text-white">
                <h2 class="font-weight-bold pb-2">{{.Site.Data.siteconf.desc}}</h2>
                <p class="text-muted">{{ i18n "jumbotron_content1" }}</p>
                <p class="text-muted">{{ i18n "jumbotron_content2" }}</p>
                <p class="text-muted">{{ i18n "jumbotron_content3" }}</p>
            </div>
        </div> -->
    </div>
</div>