<section>
    <div class="row py-5">
        <div class="col-sm-12 col-md-12 notifikasi">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{.Site.Data.notifikasi.data | markdownify}}
            </div>
        </div>
    </div>    
</section>