<!-- <section>
    <div class="row">
        <div class="col-sm-12 col-md-12 mb-4">
            <ul>
                {{ $urlPre := "https://bit.my.id" }}
                {{ $gistJ := getJSON $urlPre "/data.json" }}
                {{ range first 5 $gistJ }}
                    <li><a href="{{ $urlPre }}/{{ .code }}" target="_blank">{{ .url }}</a></li>
                {{ end }}
              </ul>
              
        </div>
    </div>
</section> -->
