<!-- <div class="col-sm-12 col-md-12 pt-6">
  <h2 class="header__subpage font-weight-bold">{{ i18n "supporters_title" | title }}</h2>
</div>
<div class="row d-flex justify-content-around align-items-center py-6 mb-6">
  <div class="col-sm-12 col-md-4">
    <div class="kartu bg-dark text-white p-5 mb-4 round">
      <img class="supporters img-fluid" src="https://www.netlify.com/img/press/logos/full-logo-dark.png" alt="Netlify logo">
      <h3 class="mb-2">Netlify</h3>
      <p class="mb-3"></p>
      <p class="mb-3"><a href="https://www.netlify.com" class="" target="_blank" rel="noopener noreferrer"><span class="text-white-50">https://www.</span>netlify.com</a></p>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="kartu bg-dark text-white p-5 mb-4 round">
      <img class="supporters img-fluid" src="https://ertomedia.com/wp-content/uploads/2018/05/ertomedia-logo-H-color-darkbg.png" alt="Ertomedia logo">
      <h3 class="mb-2">Ertomedia</h3>
      <p class="mb-3"></p>
      <p class="mb-3"><a href="https://erto.media" class="" target="_blank" rel="noopener noreferrer"><span class="text-white-50">https://</span>erto.media</a></p>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="kartu bg-light p-5 mb-4 round">
      <h3 class="mb-2">Ingin Ikut Berkontribusi?</h3>
      <p class="mb-3"></p>
      <p class="mb-3"><a href="mailto:kawanua@pm.me" class="" target="_blank" rel="noopener noreferrer">Hubungi Kami</a></p>
    </div>
  </div>
</div> -->