<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>

    {{ partial "head/metatags.html" . }}

    {{ partial "head/stylesheets.html" . }}
    
    {{ partial "head/favicon.html" . }}

    <title>{{.Title}} - {{.Site.Data.siteconf.desc}}</title>

  </head>
  <body>

    {{ partial "header/nav.html" . }}

      <header>
        <div class="jumbotron jumbotron-fluid">
          <div class="container pt-5">
              <div class="row d-flex align-items-center">
                  <div class="jumbotron__header col-sm-12 col-md-9">
                      <h1 class="header__slogan">{{ .Page.Title | title }}<span class="">.</span></h1>
                  </div>
              </div>
          </div>
        </div>
      </header>

      <main role="main">
          <section class="hideoverflow">
            <div class="container-fluid">
                <div class="container pt-6">
                  <div class="col-sm-12 col-md-10 offset-md-2">
                    <div class="content p-5">
                      {{ .Content | markdownify }}
                    </div>
                  </div>
                </div>
            </div>
          </section>
      </main>

      <footer>
        {{ partial "footer/svg.html" . }}
        <div class="container-fluid bg-dark">
          <div class="container pb-7">
            {{ partial "footer/footer.html" . }}
          </div>
        </div>
      </footer>

      {{ partial "header/scripts.html" . }}

  </body>
  </html>